<!DOCTYPE html>
<html>
<head>
    <title>Детали чата</title>
</head>
<body>
    <h1>Чат {{ chat.id }}</h1>
    <ul>
        {% for message in messages %}
            <li>
                <strong>{{ message.sender.username }}</strong> ({{ message.timestamp|date:"H:i:s" }}):
                {{ message.content }}
            </li>
        {% endfor %}
    </ul>

    <!-- Форма для отправки сообщений -->
    <form method="post" action="{% url 'chat_detail' chat_id=chat.id %}">
        {% csrf_token %}
        <textarea name="message_content" placeholder="Введите сообщение"></textarea>
        <button type="submit">Отправить</button>
    </form>
</body>
</html>