{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset = "utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0 ">
  <title> Вход в аккаунт </title>
  <link type="text/css" href="{% static 'authorization/css/style_login.css' %}" rel="stylesheet"/>
</head>
<body>


<form class="box" method="post">
  {% csrf_token %}
  <h1>Вход</h1>
  {{ form.as_p }}
  <input type="submit"  value="Войти" class="signup-btn">
  <a href="{% url 'register' %}" class="reg-btn">Нет аккаунта? Зарегистрируйтесь</a>
</form>
</body>
</html>