<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Профиль пользователя</title>
    <link type="text/css" href="{% static 'profile/css/style_user_profile.css' %}" rel="stylesheet"/>
</head>
<body>
    <div id="profile">
        <a href="{% url 'logout' %}" id="logout">Выход</a>
        <img src="{{ user.profile.image.url }}" alt="Фото пользователя">
        <div id="user_name">{{ username }}</div>
        <div id="buttons">
            <a href="/chat" class="button">Чат</a>
            <a href="/friends" class="button">Друзья</a>
        </div>
        <a href="{% url 'profile_update' %}">Настройки профиля</a>
    </div>
</body>
</html>